WORKING_DIR="/root/Adi_OS/image"

IMAGE_FILENAME="adios.img"
IMAGE_FILE_SIZE=2000

BUILD_DIR='./mount_point'
ROOT_DIR='./root'
BOOT_DIR='./build/boot/'


VMLINUZ_LOCATION='./build/boot/vmlinuz'
INITRD_LOCATION='./build/boot/initrd.img'

VBOX_MACHINE_NAME='Adi OS'
VBOX_DISK_FILE='./vbox_machine/vbox_disk_file.vmdk'
VBOX_MACHINE_DIR='./vbox_machine/'
VBOX_GENERATED_DISK_FILE='adios.vdi'